# fastapi
# uvicorn
# pillow
# faker
# openai==0.28.0
# requests
# httpx
# numpy
# python-dateutil
# pytesseract
# python-dotenv
# scipy

fastapi
uvicorn
requests
python-dateutil
pandas
scipy
pybase64
python-dotenv
httpx
markdown
duckdb
